language: php

php:
    - 5.4
    - 5.5
    - 5.6
    - hhvm

before_script:
    - composer install --dev --prefer-source

script:
    - mkdir -p build/logs
    - phpunit --configuration ./tests/phpunit.xml --coverage-clover build/logs/clover.xml

after_script:
    - php vendor/bin/coveralls -v

notifications:
    email:
        tom@rawphp.org