<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="bootstrap.php"
         backupStaticAttributes="false"
         cacheTokens="false"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         mapTestClassNameToCoveredClassName="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         strict="false"
         verbose="false">
       
  <testsuites>
    <testsuite name="RawMail">
        <directory suffix="Test.php">unit/lib/</directory>
    </testsuite>
  </testsuites>

  <logging>
    <log type="testdox-html" target="build/testdox.html"/>
    <log type="testdox-text" target="build/testdox.txt"/>
    <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
  </logging>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">./</directory>
      <exclude>
        <file>bootstrap.php</file>
        <directory>resources/</directory>
      </exclude>
    </whitelist>
  </filter>

</phpunit>
